fastapi
httpx
openai
pydantic
pydantic_settings
requests
starlette
uvicorn
google-genai
jinja2
python-multipart
# 数据库相关依赖
sqlalchemy
databases
aiosqlite # 添加 SQLite 异步支持
python-dotenv
apscheduler # 添加定时任务库

packaging
